* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Suisse Intl;
}
body {
    width: 1600px;
    height: 3000px;
}
.wrap_body{
    background: #000000;
}
.wrapper {
    padding-left: 205px;
    padding-right: 205px;
}

.d-flex {
    display: flex;
}
.header_top {
    height: 150px;
}
.a-items-center {
    align-items: center;
}
.header_logo img{
    padding-top: 34px;
    padding-right: 378px;
}
.header_menu__nav {
    grid-column-gap: 25px;
    margin-right: 42px;
}
.header_menu__nav__item a {
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;
    font-weight: normal;
    color: #ffffff;
}
.header_menu__to_book__button {
    padding: 15px 18px;
    width: 179px;
    height: 50px;
    cursor: pointer;
    background: #CB3B48;
    border: 1px solid #CB3B48;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: Suisse Intl;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.header_menu__button__account{
    width: 50px;
    height: 50px;
    background: #CB3B48;
    box-shadow: 0px 0px 15px rgba(189, 45, 67, 0.5);
    border-radius: 8px;
    cursor: pointer;
}
.black{
    background: #000000;
}
.column-gap16{
    column-gap: 16px;
}
.rect-red{
    width: 73px;
    height: 5px;
    margin-top: 80px;
    background: #C93A48;
    box-shadow: 0px 0px 30px #BD2D43;
    margin-left: 205px;
    margin-bottom: 15px;
}
h1{
    font-weight: normal;
    font-size: 40px;
    line-height: 47px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0px 0px 30px rgba(255, 255, 255, 0.32);
}
.rect-gray{
    width: 1190px;
    height: 1px;
    background: #3E3E3E;
}
.header_table h2{
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #DCDCDC;
}
.header_table{
    justify-content: space-between;
    margin-top: 13px;
    margin-bottom: 16px;
}
.mt39{
    margin-top: 39px;
}
.row_table p{
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #DCDCDC;
}
.btn_white{
    width: 68px;
    height: 34px;
    background: #FFFFFF;
    border-radius: 3px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 7px;
}
.btn_white p{
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #222220;
}
.mr8{
    margin-right: 9px;
}
.btn_red{
    background: #C93A48;
    color: #ffffff;
}
.row_table{
    /*justify-content: space-between;*/
    margin-top: 30px;
    margin-bottom: 30px;
}
.mr78{
    margin-right: 78px;
}
.mr88{
    margin-right: 88px;
}
.mr75{
    margin-right: 75px;
}
.mr50{
    margin-right: 50px;
}
.mr30{
    margin-right: 30px;
}
.mr30{
    margin-right: 26px;
}
.mr20{
    margin-right: 20px;
}
.mr45{
    margin-right: 45px;
}
.footer{
    background-color: #161615;
    background-image: url(../image/MaskGroup.svg);
    background-size: 100%;
    background-position: center;
}
.footer img{
    margin-top: 44px;
}
.footer h3{
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #DCDCDC;
    margin-bottom: 15px;
}
.d-inline{
    display: inline;
}
.mt48{
    margin-top: 57px;
}
.mt17{
    margin-top: 17px;
}
.ml87{
    margin-left: 87px;
}
.ml115{
    margin-left: 115px;
}
.text-dec-none{
    text-decoration-line: none;
}
h5{
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #9C9C9C;
}
.ml134{
    margin-left: 134px;
}
.ml128{
    margin-left: 110px;
}
.right_footer h2{
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #BD2D43;
    width: 224px;
    margin-top: 40px;
}
.right_footer h3{
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #8F8F8F;
    margin-top: 5px;
    margin-bottom: 0;
    margin-left: 30px;
}
.col-gap29{
    column-gap: 29px;
}
.just-right{
    justify-content: flex-end;
}
.w335{
    width: 335px;
}
.ml80{
    margin-left: 80px;
}
.ml32{
    margin-left: 32px;
}
.footer h4 {
    font-weight: normal;
    font-size: 13px;
    line-height: 14px;
    text-decoration-line: underline;
    color: #9C9C9C;
}
.col-gap21 {
    column-gap: 21px;
}
.mt26 {
    margin-top: 26px;
}
.mb20 {
    margin-bottom: 20px;
}



